#ignore everything
*
*/

#dont ignore components/com_simplequiz
!templates
!templates/joomstarter
!templates/joomstarter/**

!media
!media/templates/site
!media/templates/site/joomstarter
!media/templates/site/joomstarter/**

!language
!language/en-GB
!language/en-GB/tpl_joomstarter.ini
!language/en-GB/tpl_joomstarter.sys.ini




!.gitignore
!readme.md
!joomstarter-mockup.webp




